<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div th:insert="~{fragments :: themeSwitcher}"></div>
    <h1 class="header-title">Login</h1>
    <div class="form-div center-form">
        <div th:if="${param.error}">
            Invalid username or password.
        </div>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label>Username:</label>
                <input type="text" name="username"/>
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" name="password"/>
            </div>
            <button type="submit" class="submit-button">Login</button>
        </form>
    </div>
    <div th:insert="~{fragments :: footer}"></div>
</body>
</html>
